{% extends "base.html" %}

{% block title %}Liked Bikes{% endblock %}

{% block content %}
    <h1>Liked Bikes</h1>
    <h2>Items:</h2>
    <ul>
        {% for item in is_liked %}
        <div class="cart-item">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-item-image">

            <div class="cart-item-details">
                <h3>{{ item.product.name }}</h3>
                <p>Price: ${{ item.product.price }}</p>
                <a href="{% url 'product_detail' item.product.id %}" class="product-link-order">View Product</a>
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}