<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="header">
        <div class="hamburger" id="hamburger">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </div>

        <div class="header-left menu" id="menu">
            <a href="{% url 'home' %}">Главная</a>
            <a href="{% url 'bike_catalog' %}">Каталог</a>
            <a href="{% url 'cart_detail' %}">Корзина</a>
            <a href="{% url 'profile' %}">Профиль</a>
            {% if user.is_staff %}
            <a href="{% url 'admin_analytics' %}">Аналитика</a>
            {% endif %}
        </div>
        <div class="header-right">
            {% if user.is_authenticated %}
                <img src="{{ photo }}" alt="Profile Photo" width="150">
                <span>{{ user.username }}</span>
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer id="footer">
        <div class="footer-content">
            <div class="footer-section feedback">
                <h4>Обратная связь</h4>
                <form method="post" action="{% url 'feedback' %}" class="form-auth">
                    {% csrf_token %}
                    {{ feedback_form.as_p }}
                    <button type="submit" class="btn btn-dark">Отправить письмо</button>
                </form>
            </div>
            <div class="footer-section links">
                <h4>Контакты</h4>
                <ul>
                    <li><a href="https://t.me/rilmtbkevin" target="_blank"><i class="fab fa-telegram"></i> Telegram</a></li>
                    <li><a href="https://github.com/KeViNaaaaaaaaaaaa" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                    <li><a href="mailto:askarsharafutdinoa@yandex.ru"><i class="fas fa-envelope"></i> Почта</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2023 My Website. Все права защищены.
        </div>
    </footer>

<script>
        const hamburger = document.getElementById('hamburger');
        const menu = document.getElementById('menu');

        hamburger.addEventListener('click', () => {
            menu.classList.toggle('active');
});
    </script>
</body>
</html>